/*	 Licensed Materials - Property of IBM
	 5725-I43 (C) Copyright IBM Corp. 2006, 2013. All Rights Reserved.
	 US Government Users Restricted Rights - Use, duplication or
     disclosure restricted by GSA ADP Schedule Contract with IBM Corp. */
h1 {
    text-align:center !important;
    color: blue;
    font-size: 36px !important;
	
}

p {
	text-align:center !important;
	text-size: 32px;
}

button {
    font-size: 16px !important;
    width : 8% !important;
    height: 70% !important ; 	
}

.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset{
	  max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
}

.ui-content{
	  text-align: center;
}

.ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}


.table{
border-collapse: collapse;
border-color:grey;
border-style:solid;
border-width:3px;
}
footer#footer{
	 text-align:center
	 
}

div#project_image{
	width:300px;
	height:300px;
	float:left
}

div#project_details{
	width:300px;
	height:300px;
	float:left
}
p.project{
	text-align:left !important
}
